.calendar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('./images/11.webp'); /* Replace 'path/to/your/watermark-image.jpg' with the actual path to your watermark image */
    background-repeat: repeat;
}

.calendar-content {
    text-align: center;
}

.custom-calendar {
    width: 400px;
    max-width: 100%;
}


.calendar-wrapper {
    width: 80%;
    max-width: 800px;
    margin-top: 20px;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    align-items: center;

}

.calendar-heading {
    font-size: 24px;
    margin-bottom: 20px;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;

}

.custom-calendar {
    width: 100%;
    max-width: 800px;
    align-items: center;


}

.appointment-details {
    margin-top: 20px;
    align-items: center;

}

.appointment-heading {
    font-size: 20px;
    margin-bottom: 10px;
    align-items: center;

}

.appointment-list {
    list-style-type: none;
    padding-left: 0;

}

.appointment-item {
    margin-bottom: 8px;
}
.booked {
    background-color: #ffcccc; /* Example color for booked dates */
  }