nav {
  background-color: #090909;
  padding: 1rem;
  border-radius: 10px; /* Adding border-radius for curved corners */
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
}

a {
  color: #fbf9f9;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s;
}

a:hover {
  background-color: #555;
  border-radius: 4px;
}

.navbar-center-item {
  display: flex;
  align-items: center;
}

.navbar-icon {
  color: #fbf9f9;
  font-size: 1.5rem;
}
